// #################################
//
//    _____      _
//   / ____|    | |
//  | |     ___ | | ___  _ __ ___
//  | |    / _ \| |/ _ \| '__/ __|
//  | |___| (_) | | (_) | |  \__ \
//   \_____\___/|_|\___/|_|  |___/
//
//
//
//  Colors to theme the application
// ################################
$color-primary: #0099f9;
$color-primary-dark: #00172c;
$color-white: #fff;
$color-disabled: #767a7d;
$color-muted-dark: #a7aaad;
$color-muted: #767a7d;

html,
body {
  height: 100vh;
  color: $color-primary-dark;
}

.logos-wrapper {
  display: flex;
  align-items: end;
  gap: 15px;

  img.logo { height: 45px; }

  & .color-mode-toggle .color-mode.dark {
    display: none;
  }

  & .color-mode-toggle .color-mode.light {
    display: flex;
  }
}

// #####################################
//
//   _                    _
//  | |                  | |
//  | |__   ___  __ _  __| | ___ _ __
//  | '_ \ / _ \/ _` |/ _` |/ _ \ '__|
//  | | | |  __/ (_| | (_| |  __/ |
//  |_| |_|\___|\__,_|\__,_|\___|_|
//
//
//
//  header
// ####################################

header {
  margin-top: 15px;
  margin-bottom: 15px;

  .flex {
    justify-content: space-between;
  }
}

.container-fluid {
  margin-left: 15px;
  margin-right: 15px;
}

.btn.color-mode-toggle {
  &,
  &:focus,
  &:focus-visible,
  &:hover,
  &:active {
    background: transparent;
    border: transparent;
    box-shadow: none;
  }
}

// ###############################
//
//    __            _
//   / _|          | |
//  | |_ ___   ___ | |_ ___ _ __
//  |  _/ _ \ / _ \| __/ _ \ '__|
//  | || (_) | (_) | ||  __/ |
//  |_| \___/ \___/ \__\___|_|
//
//
//
//  footer
// ##############################

footer {
  .logos-wrapper {
    margin-bottom: 1em;

    img.logo { height: 25px; }
  }
}

// ######################################################
//
//                     _             _   _
//                    (_)           | | (_)
//   _ __   __ ___   ___  __ _  __ _| |_ _  ___  _ __
//  | '_ \ / _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \
//  | | | | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |
//  |_| |_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_|
//                        __/ |
//                       |___/
//
//  navigation for non-dark background
// #####################################################

.dark .nav-pills > li > a { // Required to be before navigation (lint rules)
  color: $color-white;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: $color-primary;
}

// ##########################
//
//       _            _
//      | |          | |
//    __| | __ _ _ __| | __
//   / _` |/ _` | '__| |/ /
//  | (_| | (_| | |  |   <
//   \__,_|\__,_|_|  |_|\_\
//
//
//
//  dark
// ##########################

html > body > .dark {
  min-height: 100vh;
  background-color: $color-primary-dark;
  color: $color-white;

  .nav-pills > li {
    & > a:focus,
    & > a:hover {
      color: $color-primary-dark;
    }

    &.active > a,
    &.active > a:focus,
    &.active > a:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  .text-muted { color: $color-muted-dark; }

  #teal_primary_col {
    background-color: $color-white;
    color: $color-primary-dark;
    border-radius: 4px;

    .text-muted { color: $color-muted; }
  }

  #teal_secondary_col {
    color: $color-primary-dark;
  }

  #filter_hamburger {
    color: $color-white;

    &.disabled {
      color: $color-disabled;
    }
  }

  .logos-wrapper {
    & .color-mode-toggle .color-mode.dark {
      display: flex;
    }

    & .color-mode-toggle .color-mode.light {
      display: none;
    }

    & img.logo {
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1);
    }
  }

  footer {
    opacity: 0.8;
  }
}

// ###########################
//
//       _             _                   _
//      (_)           | |                 | |
//   ___ _ _ __   __ _| | ___   _ __ _   _| | ___  ___
//  / __| | '_ \ / _` | |/ _ \ | '__| | | | |/ _ \/ __|
//  \__ \ | | | | (_| | |  __/ | |  | |_| | |  __/\__ \
//  |___/_|_| |_|\__, |_|\___| |_|   \__,_|_|\___||___/
//                __/ |
//               |___/
//
//  single rules
// ##########################

.top-margin { margin-top: 20px; }
.text-small { font-size: 0.85em; }
.text-smaller { font-size: 0.7em; }
.text-italic { font-style: italic; }
